@charset "UTF-8";

/*Estilos Universais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background-color: black;
    background-image: url('../imagens/back-phone.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.795);
    width: 90vw;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

h1{
    text-align: center;
}

.pc{
    display: none;
}

.celular{
    display: block;
    margin: 0 auto;
}

.impressora{
    display: none;
}

.tablet{
    display: none;
}

.tv{
    display: none;
}