@charset "UTF-8";

@media all {
    /*Estilos Universais*/

    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
    }

    h1 {
        padding: 10px;
        color: rgb(82, 0, 0);
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.425);
    }
}

@media screen and (orientation: portrait) {
    /*Estiolos apenas para Dispositivos em  pé (Portrait)*/

    body {
        background-image: url('../imagens/cev-portrait.jpg');
        background-position: center bottom;
    }
}

@media screen and (orientation: landscape) {
    /*Estilos apenas para dispositivos deitados (Landscape)*/

    body {
        background-image: url('../imagens/cev-landscape.jpg');
        background-position: left bottom;
    }
}